Repository lab-neuro-comp/Test-Platform, pull requests merged in 2018-04, with the labels that each got.

#169 Fixed bug in match form
  StroopTest/Views/MatchingPages/FormMatchConfig.Designer.cs
Labels: bug

#174 158/helpToolTip in TE and TR results page
  StroopTest/Properties/Resources.Designer.cs
  StroopTest/Properties/Resources.resx
  StroopTest/Resources/Localizations/LocalizedResources.en-US.resx
  StroopTest/Resources/Localizations/LocalizedResources.pt-BR.resx
  StroopTest/Resources/helpToolTipMatrixImage.bmp
  StroopTest/TestPlatform.csproj
  StroopTest/Views/MatchingPages/MatchingResultUserControl.Designer.cs
  StroopTest/Views/MatchingPages/MatchingResultUserControl.cs
  StroopTest/Views/MatchingPages/MatchingResultUserControl.resx
  StroopTest/Views/ReactionPages/ReactionResultUserControl.Designer.cs
  StroopTest/Views/ReactionPages/ReactionResultUserControl.cs
  StroopTest/Views/ReactionPages/ReactionResultUserControl.resx
Labels: enhancement, matching, reaction test, results

#172 171/Tr ExpandImage
  StroopTest/Controllers/ExpositionController.cs
  StroopTest/Models/Tests/Program.cs
  StroopTest/Models/Tests/Reaction/ReactionProgram.cs
  StroopTest/Models/Tests/Stroop/StroopProgram.cs
  StroopTest/Properties/AssemblyInfo.cs
  StroopTest/Resources/Localizations/LocalizedResources.en-US.resx
  StroopTest/Resources/Localizations/LocalizedResources.pt-BR.resx
  StroopTest/TestPlatform.csproj
  StroopTest/Views/MainForms/FormMain.resx
  StroopTest/Views/MatchingPages/MatchingExposition.cs
  StroopTest/Views/ReactionPages/FormReactExposition.cs
  StroopTest/Views/ReactionPages/FormTRConfig.Designer.cs
  StroopTest/Views/ReactionPages/FormTRConfig.cs
  StroopTest/Views/ReactionPages/FormTRConfig.en-US.resx
  StroopTest/Views/ReactionPages/FormTRConfig.es-ES.resx
  StroopTest/Views/ReactionPages/FormTRConfig.pt-BR.resx
  StroopTest/Views/ReactionPages/FormTRConfig.resx
  images/application_files.png
  images/assembly_version.png
  images/main_culture.png
  images/publish_projects.png
  images/sfx_shortcut.png
  images/sfx_text.png
Labels: enhancement, reaction test

#173 19/DNMTS and DMTS/DNMTS exposition types
  StroopTest/Views/MatchingPages/FormMatchConfig.Designer.cs
  StroopTest/Views/MatchingPages/FormMatchConfig.cs
  StroopTest/Views/MatchingPages/FormMatchConfig.resx
  StroopTest/Views/MatchingPages/MatchingExposition.cs
Labels: enhancement, matching
